<button class="menu-toggle-btn" (click)="toggleSidebar()" *ngIf="islogin" >
  <i class="fa-solid fa-list fa-flip-horizontal"></i>
</button>

<div class="overlay" id="overlay" (click)="toggleSidebar()"></div>

<div class="admin-dashboard d-flex">
  <!-- Sidebar -->
  <aside class="sidebar" id="sidebar" *ngIf="islogin" >
    <h4 class="brand-title">
      <i class="fa-solid fa-car-side me-2"></i> AutoOne Admin
    </h4>
    <ul class="nav flex-column">
      <li>
        <a (click)="toggleMenu('dashboard')" class="nav-link" routerLink="/admin/home">
          <span>🏠 الرئيسية</span>
        </a>
      </li>
      <li>
        <a (click)="toggleMenu('products')" class="nav-link">
          <span>🚗 المنتجات</span>
          <i class="fas fa-chevron-down" [class.rotate]="activeMenu === 'products'"></i>
        </a>
        <ul *ngIf="activeMenu === 'products'" @slideToggle class="submenu">
          <li><a routerLink="/admin/product-create">➕ إضافة منتج</a></li>
          <li><a routerLink="/admin/product-list">📋 عرض المنتجات</a></li>
        </ul>
      </li>
      <li>
        <a (click)="toggleMenu('services')" class="nav-link">
          <span>🔧 الخدمات</span>
          <i class="fas fa-chevron-down" [class.rotate]="activeMenu === 'services'"></i>
        </a>
        <ul *ngIf="activeMenu === 'services'" @slideToggle class="submenu">
          <li><a routerLink="/admin/ourservice-create">➕ إضافة خدمة</a></li>
          <li><a routerLink="/admin/ourservice-list">📋 عرض الخدمات</a></li>
        </ul>
      </li>
      <li>
        <a (click)="toggleMenu('pricing')" class="nav-link">
          <span>💳 الباقات</span>
          <i class="fas fa-chevron-down" [class.rotate]="activeMenu === 'pricing'"></i>
        </a>
        <ul *ngIf="activeMenu === 'pricing'" @slideToggle class="submenu">
          <li><a routerLink="/admin/pricing-create">➕ إضافة باقة</a></li>
          <li><a routerLink="/admin/pricing-list">📋 عرض الباقات</a></li>
        </ul>
      </li>
      <li><a routerLink="/admin/customers" class="nav-link">👥 العملاء</a></li>
      <li><a routerLink="/admin/admin-list" class="nav-link">🧑‍💻 المشرفين</a></li>
    </ul>
    <hr>
    <button class="btn btn-theme w-100 mt-2" routerLink="/user/home">صفحة المستخدمين</button>
    <button class="btn btn-outline-danger w-100 mt-4" (click)="loginOut()">تسجيل الخروج</button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
