<!-- main title  -->
<div class="container-fulid">
  <div class="banner-title">
    <div class="banner-content">
      <div class="banner-caption">
        <h4>الاسئلة الشائعة</h4>
        <div class="position">
          <h6>الاسئلة الشائعة</h6>
          <span><<</span>
          <h6>الرئيسية</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="questions">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="quest">
          <div class="title">
            <h6>الاسئلة الشائعة</h6>
            <h4><span>الاسئلة </span>الشائعة</h4>
            <p>
              يرجى قراءة الأسئلة أدناه، وإذا لم تجد إجابتك، يرجى إرسال سؤالك
              إلينا وسنجيب عليك في أقرب وقت ممكن.
            </p>
          </div>
          <div class="accord-questions">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#questionsone"
                    aria-expanded="true"
                    aria-controls="questionsone"
                  >
                    ما هي قطع الغيار للسيارة؟
                  </button>
                </h2>
                <div
                  id="questionsone"
                  class="accordion-collapse collapse show"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <strong
                      >قطع الغيار هي الأجزاء التي يتم استبدالها أو إصلاحها في
                      السيارة عندما تتعرض للتلف أو الضرر.</strong
                    >
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#questionstwo"
                    aria-expanded="false"
                    aria-controls="que#questionstwo"
                  >
                    كيف يمكنني تحديد إذا كان عليّ استبدال قطع غيار سيارتي؟
                  </button>
                </h2>
                <div
                  id="questionstwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <Strong
                      >يمكن تحديد ذلك من خلال مراقبة أداء السيارة، مثل ارتفاع
                      الأصوات غير العادية أو تدهور الأداء العام. يجب فحص السيارة
                      من قبل ميكانيكي محترف لتحديد الأجزاء المتضررة.</Strong
                    >
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#questionsthree"
                    aria-expanded="false"
                    aria-controls="ques#questionsthree"
                  >
                    هل يمكنني استخدام قطع غيار غير أصلية لسيارتي؟
                  </button>
                </h2>
                <div
                  id="questionsthree"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <strong
                      >يمكن العثور على قطع غيار من خلال الوكلاء المعتمدين،
                      المحلات المتخصصة، أو عبر الإنترنت. يجب التأكد من أن القطع
                      أصلية أو ذات جودة عالية.</strong
                    >
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#questionsFour"
                    aria-expanded="false"
                    aria-controls="questionsFour"
                  >
                    هل قطع الغيار الأصلية أفضل من غير الأصلية؟
                  </button>
                </h2>
                <div
                  id="questionsFour"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <strong
                      >يمكن تحديد ذلك من خلال مراقبة أداء السيارة، مثل ارتفاع
                      الأصوات غير العادية أو تدهور الأداء العام. يجب فحص السيارة
                      من قبل ميكانيكي محترف لتحديد الأجزاء المتضررة.</strong
                    >
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#questionfive"
                    aria-expanded="false"
                    aria-controls="questionfive"
                  >
                    هل يمكنني تركيب قطع الغيار بنفسي؟
                  </button>
                </h2>
                <div
                  id="questionfive"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <strong
                      >قطع الغيار هي الأجزاء التي يتم استبدالها أو إصلاحها في
                      السيارة عندما تتعرض للتلف أو الضرر.</strong
                    >
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#questionsix"
                    aria-expanded="false"
                    aria-controls="questionsix"
                  >
                    كيف يمكنني العثور على قطع غيار لسيارتي؟
                  </button>
                </h2>
                <div
                  id="questionsix"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <strong
                      >يمكن العثور على قطع غيار من خلال الوكلاء المعتمدين،
                      المحلات المتخصصة، أو عبر الإنترنت. يجب التأكد من أن القطع
                      أصلية أو ذات جودة عالية.</strong
                    >
                  </div>
                </div>
              </div>
              <div class="title">
                <h6>الاسئلة اخري ونصائح</h6>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#questionsseven"
                    aria-expanded="false"
                    aria-controls="ques#questionsseven"
                  >
                    هل قطع الغيار باهظة الثمن؟
                  </button>
                </h2>
                <div
                  id="questionsseven"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <strong
                      >يمكن العثور على قطع غيار من خلال الوكلاء المعتمدين،
                      المحلات المتخصصة، أو عبر الإنترنت. يجب التأكد من أن القطع
                      أصلية أو ذات جودة عالية.</strong
                    >
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#questionseight"
                    aria-expanded="false"
                    aria-controls="questionseight"
                  >
                    هل يمكنني استخدام قطع غيار غير أصلية لسيارتي؟
                  </button>
                </h2>
                <div
                  id="questionseight"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <strong
                      >يمكن العثور على قطع غيار من خلال الوكلاء المعتمدين،
                      المحلات المتخصصة، أو عبر الإنترنت. يجب التأكد من أن القطع
                      أصلية أو ذات جودة عالية.
                    </strong>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#questionsnine"
                    aria-expanded="false"
                    aria-controls="questionsnine"
                  >
                    هل قطع الغيار الأصلية أفضل من غير الأصلية؟
                  </button>
                </h2>
                <div
                  id="questionsnine"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <strong
                      >يمكن العثور على قطع غيار من خلال الوكلاء المعتمدين،
                      المحلات المتخصصة، أو عبر الإنترنت. يجب التأكد من أن القطع
                      أصلية أو ذات جودة عالية.</strong
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="user-questions">
          <div class="picture">
            <img src="assets/img/slide/question.png" class="img-fluid" alt="" />
          </div>
          <div class="title">
            <h6>اسالنا اليوم</h6>
          </div>
          <form action="">
            <div class="form-group">
              <label for="name">(*)اسمك</label>
              <input type="text" id="name" class="form-control" />
            </div>
            <div class="form-group">
              <label for="email">(*)بريدك الالكتروني </label>

              <input type="email" id="email" class="form-control" />
            </div>
            <div class="form-group">
              <label for="subject">(*)الموضوع </label>

              <input type="text" id="subject" class="form-control" />
            </div>
            <label for="service">خدمات</label>
            <div class="form-floating">
              <select
                class="form-select"
                id="service"
                aria-label="Floating label select example"
              >
                <option selected>قسم الاعمال</option>
                <option value="1">قسم الشخصي</option>
                <option value="2">قسم الدعم</option>
                <option value="3">اخري</option>
              </select>
            </div>

            <div class="form-group">
              <label for="question">سوالك</label>
              <textarea name="question" id="question"></textarea>
            </div>
            <button class="btn">اسال</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
