.subscription-form {
  max-width: 900px;
  margin: auto;
  background-color: #f8f9fa;
}

.form-label {
  color: #333;
}

button {
  font-size: 1.1rem;
  border-radius: 10px;
}

textarea {
  resize: none;
}
