.orders-container {
  max-width: 700px;
  margin: auto;
  direction: rtl;
}

.order-card {
  background: #fff;
  border-radius: 15px;
  transition: 0.3s;
}

.order-card:hover {
  transform: scale(1.02);
}

.car-name {
  font-weight: bold;
  color: red;
}
p.price {
  color: green !important;
}
.emptyOrder button a {
  color: red;
}
.emptyOrder button:hover a {
  color: white;
}
