<!-- main title  -->
<div class="container-fulid">
  <div class="banner-title">
    <div class="banner-content">
      <div class="banner-caption">
        <h4>اتصال</h4>
        <div class="position">
          <h6>اتصال</h6>
          <span><<</span>
          <h6>الرئيسية</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="contact">
  <div class="container">
    <div class="title">
      <h6>اتصل بشركتنا</h6>
      <h4>تواصل مع <span>فريقنا</span></h4>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="box">
          <i class="fa-solid fa-location-dot"></i>
          <div class="details">
            <h4>المواقع</h4>
            <h6>شاهد جميع مواقعنا</h6>
          </div>
          <button class="d-grid btn btn-outline-danger">علي خرائط جوجل</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <i class="fa-solid fa-envelope"></i>
          <div class="details">
            <h4>بريد الكتروني</h4>
            <h6> ارسال رساله مباشره</h6>
          </div>
          <button class="d-grid btn btn-outline-danger">Auto-One&#64;gmail.com</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <i class="fa-solid fa-phone"></i>
          <div class="details">
            <h4>الهاتف</h4>
            <h6>التواصل عبر رقم الهاتف</h6>
          </div>
          <button class="d-grid btn btn-outline-danger">+20 114 466 5225</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <i class="fa-solid fa-circle-question"></i>
          <div class="details">
            <h4>الاسئلة الشائعة</h4>
            <h6>قائمة الاسئلة المتكرره</h6>
          </div>
          <button class="d-grid btn btn-outline-danger"><a routerLink="/user/populare-questions">شاهدة الاسئلة</a></button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <form action="">
            <div class="form-group">
              <input type="text" id="name" placeholder="(*)اسمك" class="form-control" />
            </div>
            <div class="form-group">
              <input type="email" id="email" placeholder="(*)بريدك الالكتروني " class="form-control" />
            </div>
            <div class="form-group">
              <input type="text" id="subject" placeholder="الموضوع " class="form-control" />
            </div>
            <div class="form-floating">
              <select
                class="form-select"
                id="service"
                aria-label="Floating label select example"
              >
                <option selected>ميكانيكي</option>
                <option value="1">صيانة</option>
                <option value="2"> مبيعات</option>
                <option value="3">الدعم</option>
              </select>
            </div>

            <div class="form-group">
              <textarea name="question" id="question" placeholder="رسالتك"></textarea>
            </div>
            <button class="btn">اسال</button>
          </form>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d221011.98986962636!2d30.984875736734345!3d30.05658024151084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145815801a9ca815%3A0xe78fe09c09f33452!2z2YXYudix2LYg2KjYp9mG2YjYsdin2YXYpyDZhNmE2LPZitin2LHYp9iq!5e0!3m2!1sen!2seg!4v1761918542471!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
