<section class="home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 hero" data-aos="fade-right">
        <div class="picture">
          <img src="assets/img/slide/slide-1.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-md-5" data-aos="fade-left">
        <div class="intro">
          <h1>سيارات وقطع غيار موثوقة لرحلتك</h1>
          <p>
            اجود وافخم انواع السيارات العالمية,من مكونات المحرك الي انظمة
            الفرامل,نقم قطع غيار عالية الجودة تلبي اعلي معايير الجوده والمتانة
          </p>
          <div class="btns">
            <button class="btn btn-outline-danger">
              <a routerLink="/user/store">استكشاف المنتجات</a>
            </button>
            <button class="btn">
              <a routerLink="/user/about">معلومات عنا</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="short-products">
  <div class="container">
    <div class="head">
      <button class="btn">
        <a routerLink="/user/store">استكشاف المزيد</a>
      </button>
      <div class="title">
        <h6>المنتجات المميزة</h6>
        <h4>المنتجات <span>الشائعة</span></h4>
      </div>
    </div>
  </div>
</section>
<section class="brands">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-9 d-flex gap-5">
        <div class="picture">
          <img class="img-fluid" src="assets/img/brand/bmw.png" alt="" />
        </div>
        <div class="picture">
          <img class="img-fluid" src="assets/img/brand/ferrari.png" alt="" />
        </div>
        <div class="picture">
          <img class="img-fluid" src="assets/img/brand/hyundai.png" alt="" />
        </div>
        <div class="picture">
          <img class="img-fluid" src="assets/img/brand/toyota.png" alt="" />
        </div>
        <div class="picture">
          <img class="img-fluid" src="assets/img/brand/kia.png" alt="" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="title">
          <h6>علامات تجارية للسيارات</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="shop-now">
  <div class="layout-animation">
    <video autoplay muted loop playsiline>
      <source src="assets/img/layout/layout.mp4" />
    </video>
  </div>
  <div class="container">
    <div class="title">
      <h6>ابدأ التسوق مع أفضل الخصومات</h6>
      <h4>احصل على خصم<span>٢٠% </span>على أول عملية شراء لك</h4>
    </div>
    <div class="btns">
      <button class="btn">
        <a routerLink="/user/store">استكشف السيارات وقطع الغيار</a>
      </button>
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
  </div>
</section>
