:root {
  --main-color: #000000;
  --primary-color: #eb2500;
  --p-color: rgb(146, 146, 146);
  --main-bg: #ffffff;
  --main-font-family: "El Messiri";
}
*{
  text-decoration: none;
}
.active{
  color: var(--primary-color) !important;
}
.banner-title .banner-caption .position {
  width: 250px;
}
.contact{
  padding: 10px;
  font-family: var(--main-font-family);
}
.contact .title{
  text-align: center;
  margin: 40px 0;
  margin-bottom: 60px;
}
.wishlist{
  padding: 10px;
  direction: rtl;
  font-family: var(--main-font-family);
}
.headwishlist{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.headwishlist .btns{
  margin-top: 30px;
}
.headwishlist .options select{
  font-size: 12px;
}
.wishlist .container{
  align-content: center;
  min-height: calc(100vh - 500px)
}
.wishlist .row {
  margin-top: 30px;
}
.wishlist .box {
  padding: 10px 2px;
  transition: all 0.3s;
  position: relative;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  border: 1px solid rgba(95, 94, 94, 0.3);
  margin: 15px 0;
}
.wishlist .box:hover {
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.wishlist .box .picture {
  width: 95%;
  height: 250px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
}
.wishlist .box .picture img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.wishlist .box .picture img:hover {
  cursor: pointer;
  transform: scale(1.04);
}
.wishlist .box .icons {
  position: absolute;
  left: 5px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--main-color);
  background-color: var(--main-bg);
  padding: 10px;
  height: 40px;
  transition: all 0.3s;
  overflow: visible;
}
.wishlist .box:hover .icons {
  height: 130px;
}
.wishlist .icons i {
  position: relative;
  padding: 5px;
}
.box-store button.close{
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  color: var(--main-bg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 3;
  padding: 5px;
  font-size: 12px;
}
.wishlist .icons i.fa-heart {
  color: var(--primary-color);
  transition: all 0.3s;
}
.wishlist .icons i.fa-heart::after {
  content: "الازلة من سله الرغبات";
  position: absolute;
  padding: 10px;
  top: -2px;
  right: -125px;
  background-color: var(--primary-color);
  color: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(-5px);
  transition: all 0.4s ease;
  z-index: 10;
  pointer-events: none;
  font-size: 12px;
}
.wishlist .icons i.fa-heart:hover::after {
  opacity: 1;
  transform: translateX(0);
}
.wishlist .icons i.compare::after {
  content: "  قارن بين المنتجات";
  position: absolute;
  padding: 10px;
  top: -2px;
  right: -110px;
  background-color: var(--primary-color);
  color: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(-5px);
  transition: all 0.4s ease;
  z-index: 10;
  pointer-events: none;
  font-size: 12px;
}
.wishlist .icons i.compare:hover::after {
  opacity: 1;
  transform: translateX(0);
}
.wishlist .icons i:nth-of-type(2)::after {
  content: "عرض سريع";
  position: absolute;
  padding: 10px;
  top: -2px;
  right: -85px;
  background-color: var(--primary-color);
  color: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(-5px);
  transition: all 0.4s ease;
  z-index: 10;
  pointer-events: none;
  font-size: 12px;
}
.wishlist .icons i:nth-of-type(2):hover::after {
  opacity: 1;
  transform: translateX(0);
}
.wishlist .icons i:nth-child(2),
.wishlist .icons i:nth-child(3) {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease;
}
.wishlist .box:hover .icons i:nth-child(2),
.wishlist .box:hover .icons i:nth-child(3) {
  opacity: 1;
  transform: translateY(0);
}
.wishlist .box .caption {
  margin: 10px 0;
  padding: 5px;
  transition: all 0.3s;
  border-bottom: 1px solid red;
}
.wishlist .box .caption h4 {
  font-size: 16px;
  font-weight: bold;
}
.wishlist .box .caption p {
  color: var(--p-color);
}
.wishlist .box .price-cart {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 25px;
}
.wishlist .box .price-cart h6 {
  margin-bottom: 0 !important;
  color: var(--primary-color);
  font-size: 14px;
}
.wishlist .box .price-cart h6 span {
  color: var(--main-color);
}
.wishlist .box .price-cart button {
  font-size: 14px;
}
.wishlist .box .price-cart button a {
  color: var(--primary-color);
}
.wishlist .box .price-cart button:hover a {
  color: var(--main-bg);
}
@media (max-width: 992px) {
  .wishlist .box .icons {
    left: 5px;
    top: 10px;
    gap: 10px;
    padding: 5px;
    height: 30px;
    font-size: 12px;
  }
  .wishlist .box:hover .icons {
    height: 100px;
  }
  .wishlist .icons i {
    padding: 5px;
  }
  .wishlist .icons .fav-icon a {
    top: 0px;
    right: -95px;
    padding: 5px;
    font-size: 10px;
  }
  .wishlist .icons i.compare::after {
    padding: 5px;
    top: 0px;
    right: -80px;
    font-size: 10px;
  }
  .wishlist .icons i:nth-of-type(2)::after {
    padding: 5px;
    font-size: 10px;
    right: -60px;
    top: 2px;
  }
  .wishlist .box .caption h4 {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .wishlist .box .price-cart {
    justify-content: space-between;
  }
}
@media (min-width: 463px) and (max-width: 768px) {
  .wishlist .box .icons {
    left: 5px;
    top: 10px;
    gap: 15px;
    padding: 10px;
    height: 40px;
  }
  .wishlist .box:hover .icons {
    height: 130px;
  }
  .wishlist .icons i {
    padding: 5px;
  }
  .wishlist .icons .fav-icon a {
    top: 0px;
    right: -125px;
    padding: 10px;
    font-size: 12px;
  }
  .wishlist .icons i.compare::after {
    padding: 10px;
    top: -2px;
    right: -110px;
    font-size: 12px;
  }
  .wishlist .icons i:nth-of-type(2)::after {
    padding: 10px;
    top: -2px;
    right: -85px;
    font-size: 12px;
  }
}
@media (max-width: 463px) {
  .wishlist .box .icons {
    left: 5px;
    top: 10px;
    gap: 10px;
    padding: 5px;
    height: 30px;
    font-size: 12px;
  }
  .wishlist .box:hover .icons {
    height: 100px;
  }
  .wishlist .icons i {
    padding: 5px;
  }
  .wishlist .icons .fav-icon a {
    top: 0px;
    right: -95px;
    padding: 5px;
    font-size: 10px;
  }
  .wishlist .icons i.compare::after {
    padding: 5px;
    top: 0px;
    right: -80px;
    font-size: 10px;
  }
  .wishlist .icons i:nth-of-type(2)::after {
    padding: 5px;
    font-size: 10px;
    right: -60px;
    top: 2px;
  }
  .wishlist .box .price-cart {
    justify-content: center;
  }
}
