<!-- main title  -->
<div class="container-fulid">
  <div class="banner-title">
    <div class="banner-content">
      <div class="banner-caption">
        <h4>قائمة الرغبات</h4>
        <div class="position">
          <h6>قائمة الرغبات</h6>
          <span><<</span>
          <h6>الرئيسية</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="wishlist">
  <div class="container">
    @if (wishListData.length > 0) {
    <div class="row">
      @if(favouritProductsFilter){ @for (item of favouritProductsFilter; track
      $index) {
      <div [ngClass]="colClass">
        <div class="box-store">
          <div class="picture-store">
            <img [src]="item.image" class="img-fluid" alt="" />
            <div class="icons-store">
              <div class="fav-icon">
                <i
                  class="fa-regular fa-heart"
                  (click)="favouritBtn(item)"
                  [ngClass]="{ active: isFavourite(item) }"
                ></i>
                <a *ngIf="isFavourite(item)" routerLink="/user/wishlist"
                  >تصفح قائمة الرغبات</a
                >
              </div>
              <i
                class="fa-solid fa-check compare"
                (click)="compareBtn(item)"
              ></i>
              <i
                class="fa-solid fa-magnifying-glass"
                (click)="showModel(item.id)"
              ></i>
            </div>
          </div>
          <div class="caption-store">
            <h4>{{ item.name }}</h4>
            <p>{{ item.category }}</p>
          </div>
          <div class="price-cart-store">
            <h6 class="d-flex justify-content-between gap-1">
              <span>ج.م</span> {{ item.price }}
            </h6>
            <button class="btn btn-outline-danger" (click)="cart(item)">
              <a
                ><i class="fa-solid fa-cart-shopping ms-1"></i>اضافة الي
                السلة</a
              >
            </button>
            <button class="btn close" (click)="remove($index)">
              <i class="fa-solid fa-x"></i>
            </button>
          </div>
        </div>
      </div>
      } }
    </div>
    }@else {
    <h2 class="text-danger text-center">لا توجد لديك اي رغبات حاليا</h2>
    }
  </div>
</section>
<!-- المودال الخاص بالعرض السريع -->
<div class="modal-quicklook" [ngClass]="quicklook ? 'd-flex' : 'd-none'">
  <div class="modal-box">
    <button class="btn btn-danger close" (click)="showModel()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    @if (modelData) {
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="modal-info">
            <h3>{{ modelData.name }}</h3>
            <p class="rating">⭐⭐⭐⭐☆</p>
            <h6 class="d-flex justify-content-end gap-1">
              <span>ج.م</span> {{ modelData.price }}
            </h6>
            <p class="desc">{{ modelData.description }}</p>

            <div class="counter">
              <button (click)="decrease()">-</button>
              <span>{{ modelData.quntity }}</span>
              <button (click)="increase()">+</button>
            </div>
            <div class="btns">
              <div class="extra-icons">
                <i
                  (click)="compareBtn(modelData)"
                  class="fa-solid fa-check compare"
                ></i>
                <i
                  class="fa-regular fa-heart"
                  (click)="favouritBtn(modelData)"
                  [ngClass]="{ active: isFavourite(modelData) }"
                ></i>
                <a
                  class="mes"
                  *ngIf="isFavourite(modelData)"
                  routerLink="/user/wishlist"
                  >تصفح قائمة الرغبات</a
                >
              </div>
              <button class="btn btn-danger" (click)="cart(modelData)">
                إضافة إلى السلة
              </button>
            </div>

            <p class="info-note">🛒 ٢٠ شخص أضافوا هذا المنتج إلى عربة التسوق</p>
            <div class="product-meta">
              <p>
                <strong>{{ modelData.marka }} :الماركة</strong>
              </p>
              <p>
                <strong>{{ modelData.code }} :كود المنتج </strong>
              </p>
              <p>
                <strong>المتوفر: {{ modelData.count }}</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="modal-image">
            <img [src]="modelData.image" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
