<footer>
  <div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="contact-info">
          <div class="title">
            <h5>اتصل بنا</h5>
          </div>
          <div class="contact-info-content">
            <p>عبد الحكيم بلبع، الهايكستب، قسم النزهة، محافظة القاهرة</p>
            <h6>AutoOne&#64;gmail.com</h6>
            <h6>+02 0114 466 5225</h6>
          </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="quick-links">
        <div class="title">
          <h5>روابط سريعة</h5>
          <div class="quick-links-content">
            <a routerLink="/user/about">معلومات عنا</a>
            <a routerLink="/user/store"> المنتجات</a>
            <a routerLink="/user/contact"> مركز الدعم</a>
            <a routerLink=""> الفروع</a>
            <a routerLink=""> اتصل بنا</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="subscription">
        <div class="title">
          <h5>النشرة الاخبارية</h5>
        </div>
        <div class="subscription-content">
          <h4><span>اشترك</span> في اوتوان</h4>
          <div class="input-group">
            <button class="btn btn-outline-danger" type="button" id="button-addon1">اشتراك</button>
            <input type="text" class="form-control" placeholder="عنوان البريد الالكتروني" aria-describedby="button-addon1">
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="line">
  <div class="copyright">
    <div class="left-side">
      <h6>اتصل بنا</h6>
      <h6>سياسة الخصوصية</h6>
    </div>
    <div class="right-side">
      <h6>.حقوق النشر ٢٠٢٥. جميع الحقوق محفوظة©</h6>
    </div>
  </div>
</div>
</footer>
